<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="dvmgsmr_console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <dvmgsmr_console.Properties.Settings>
            <setting name="RC2WSAddr" serializeAs="String">
                <value />
            </setting>
            <setting name="RC2WSPort" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnMODE" serializeAs="String">
                <value />
            </setting>
            <setting name="GSMRSVR" serializeAs="String">
                <value />
            </setting>
            <setting name="RC2NumbCH" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RC2SigCHP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RingerOff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ButtonBeep" serializeAs="String">
                <value>True</value>
            </setting>
        </dvmgsmr_console.Properties.Settings>
    </userSettings>
</configuration>